<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.restaurant">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 스플레시 화면 -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 화면 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- 메인화면 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- 셋팅화면 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />

        <!-- 검색화면 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />

        <!-- 지역선택 팝업 -->
        <activity
            android:name=".popup.SelectRegionPopupActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!-- 정렬 팝업 -->
        <activity
            android:name=".popup.SelectSortPopupActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!-- 반경선택 화면 -->
        <activity
            android:name=".popup.SelectDistancePopup"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- 필터화면 -->
        <activity
            android:name=".popup.SelectFilterPoppupActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- 레스토랑 상세화면 -->
        <activity
            android:name=".activity.RestaurantDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 망고픽 화면 -->
        <activity
            android:name=".activity.MangoPickMainActivity"
            android:screenOrientation="portrait" />

        <!-- 식당 등록화면 -->
        <activity
            android:name=".activity.RegisterRestaurantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfilePicDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FollowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimelineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoryDetailActivity"
            android:screenOrientation="portrait" />

        <!-- google map meta data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- facebook login start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- facebook login end -->


        <!-- 3 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <!-- 4 -->
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 네이버 아이디로 로그인 샘플앱 -->
        <activity android:name=".activity.OAuthSampleActivity" />
        <activity android:name=".activity.TopListDetailActivity" />
        <activity android:name=".activity.SearchRestaurantActivity" />
        <activity android:name=".activity.SelectPictureActivity" />
        <activity
            android:name=".activity.WriteReviewActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.PictureUploadActivity" />
        <activity
            android:name=".activity.RestaurantDetailMapActivity"
            android:label="@string/title_activity_restaurant_detail_map" />
        <activity android:name=".activity.SearchKeywordActivity"></activity>
    </application>

</manifest>